.input-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	gap: 8px;

}

.input {
	color: rgb(235, 238, 245);
	line-height: 40px;	
	border: 1px solid rgb(50, 59, 84);
	border-radius: 12px;
	background: rgba(0, 0, 0, 0.1);
	padding: 12px 16px 12px 56px;
	max-width: 384px;
	width: 100%;		
}

.input:focus {
	outline:1px solid rgb(123, 110, 246);	
}

.input-login {
	padding: 12px 16px;
}

.input::placeholder {	
	color: rgb(71, 80, 105);
	font-size: 14px;
	font-weight: 400;
}

.input-icon {
	position: absolute;
	left: 16px;
}