
.button {
	color: var(--background);
	background-color: var(--button);
	padding: 14px 69px;
	font-size: 15px;
	font-weight: 700;
	line-height: 140%;
	border: none;
	border-radius: 8px;	
	cursor: pointer;
}

.button:hover {
	background-color: var(--button-hover);
}