body {
    background: linear-gradient(#374151, #111827);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header, main {

    max-width: 1440px;
    margin: 0 auto;
}
nav a {

    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    color: #ffffff;
    text-decoration: none;
}



.navigation-menu {
    display: flex;
    justify-content: space-between;
    margin: 72px 180px 73px ;


}

.navigation-menu__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 6px;
   
}

.navigation-menu__html {
    margin-left: 77px;
}

.navigation-menu__front {
    margin-left: 52px;
    margin-right: 39px;

}


.navigation-menu__button {
    background-color: #4B5563;
    color: #FFFFFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 6px 12px;
    border-radius: 3px;
    border: none;
    
}

.navigation-menu__input{
    
    display: flex;
    align-items: center;
    position: relative;
    
    
}



.navigation-menu__search {
    width: 224px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 100px;
    border-style: none;
    background-color: rgba(31, 41, 55, 0.60);
    color: #FFFFFF;
    padding-left: 49px ;
}

.navigation-menu__image {
    position: absolute;
    width: 14px;
    height: 14px;
    margin: 14px 0 12px 18px

}




h1 , p {
    color: #FFFFFF;
}

main > p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    opacity: 60%;
    margin: 0 0 14px;
}

main h1 {
    width: 525px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    margin:0 auto 30px;

}

main address {
    margin: 0 0 28px;
}
main section>img {
    margin: 0 0 69px;
}

.text-author {

    display: flex;
    flex-flow: column wrap;
    height: 50px;
    justify-content: center;
    align-content: center;
}

.text-author__name {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start ;
    margin-left: 16px;
    
    
}

.developerName {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
    font-style: normal;
    

}

.developer {
    color: #ABAFB5;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    font-style: normal;

}

.link{
    color: #FFFFFF;
    text-decoration-line: underline;
    
}

.main-block__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;


}

section {
    text-align: center;
}

.mainTopic {
    max-width: 708px;
    margin: auto;
}



.mainContent {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    text-align: justify;

}

.mainContent:not(.mainContent:nth-child(1)){
    font-size: 16px;
}

.mainContent:nth-child(3){
    margin: 0 0 100px;
}



footer p {
    color: #ABAFB5;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin: 0 0 77px;
   
}

