.cardRating {	
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 4px 8px;
	border-radius: 8px;
	backdrop-filter: blur(8px);
	background: rgba(0, 0, 0, 0.65);
	color: rgb(255, 189, 109);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
