
.link {
	display: flex;
	align-items: center;
	max-width: fit-content;
	gap: 4px;	
	text-decoration: none;
	color: var(--card-button);
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	cursor: pointer;
}

.link:hover {
	color: var(--card-button-hover);
}
.link:hover svg {
	fill: var(--card-button-hover);
}