.to-favourites-button {
	display: flex;
	align-items: center;
	max-width: fit-content;
	gap:8px;
	color: rgb(123, 110, 246);
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

.to-favourites-button:hover {
	color: rgb(99, 83, 246);
}

.to-favourites-button:hover img {	
	filter: brightness(0.8);
}

.added-to-fav {
	color: rgb(55, 216, 167);
}

.added-to-fav:hover {
	color: rgb(34, 163, 125);
}
